<h1><%= @meetup.name %></h1>
<!-- <p>Creator: <%= meetup.user_id %></p> -->
<h3>Location: <%= @meetup.location %></h3>
<p>Description: <%= @meetup.description %></p>

<h3>Meetup Members</h3>
<ul></ul>


<button>Join Meetup</button>

<a href="/meetups">Back to Meetups</a>
